// Body
$body-bg: #f8fafc;

// Colores

// Color de referencia de la paleta de colores -> #60bffb
$aquamarine-50: #f0f8ff;
$aquamarine-100: #e0f0fe;
$aquamarine-200: #bae2fd;
$aquamarine-300:  #60bffb;
$aquamarine-400: #38b1f8;
$aquamarine-500:  #0e97e9;
$aquamarine-600: #0277c7;
$aquamarine-700: #035fa1;
$aquamarine-800: #075185;
$aquamarine-900: #0c446e;
$aquamarine-950: #082b49;

$blanco-50: #ffffff;
$blanco-100: #f8fafc;

$negro-50: #000000;

// Tipografia
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
