// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Iconos
@import 'bootstrap-icons/font/bootstrap-icons.css';

html{
    font-family: $font-family-sans-serif;
    scrollbar-width: thin;
}

// Hacen que el footer se quede siempre abajo, haciendo que el body ocupe todo el alto de la pantalla
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: $body-bg;
}

main {
    flex: 1;
}

// Clase para los colores, con ellas se le da color a los elementos
.aquamarine-50 {
    background-color: $aquamarine-50;
}

.aquamarine-100 {
    background-color: $aquamarine-100;
}

.aquamarine-200 {
    background-color: $aquamarine-200;
}

.aquamarine-300 {
    background-color: $aquamarine-300;
}

.aquamarine-400 {
    background-color: $aquamarine-400;
}

.aquamarine-500{
    background-color: $aquamarine-500;
}

.aquamarine-600 {
    background-color: $aquamarine-600;
}

.aquamarine-700 {
    background-color: $aquamarine-700;
}

.aquamarine-800 {
    background-color: $aquamarine-800;
}

.aquamarine-900 {
    background-color: $aquamarine-900;
}

.aquamarine-950{
    background-color: $aquamarine-950;
}

// Clase para cambiar de color el texto
.text-aquamarine-400 {
    color: $aquamarine-400;
}

// Paginacion
.numero-pagina{
    background-color: $blanco-100;
}

.numero-pagina input {
 width: 50%;
 border: none;
 text-align: center;
 background-color: $blanco-100;
 cursor: pointer;
}

.numero-pagina input:hover {
    outline: 1px solid $aquamarine-600;
    border-radius: 5px ;
   }

.numero-pagina span {
    width: 50%;
   }

// Botones
.btn.aquamarine-400:hover {
    background-color: $aquamarine-600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

//Tabla
.lista-incidencias:nth-child(odd) {
    background-color: $aquamarine-50;
}

.lista-incidencias:nth-child(even) {
    background-color: $aquamarine-100;
}

.lista-incidencias:nth-child(odd):hover{
    background-color: $aquamarine-200;
}

.lista-incidencias:nth-child(even):hover {
    background-color: $aquamarine-200;
}

// Logos
.logo-header {
    width: 3.5em;
}

.logo-login {
    width: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}

form>.card{
    width: 100%;
}

// Desplegable filtros
.filtros {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px ;
    outline: 1px;
    padding: 2px;
}

.filtros::placeholder {
    color: $negro-50;
}

.filtros:hover{
    outline: 1px solid $negro-50;
}

.overflow-auto{
    max-height: 500px;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Estilo para el botón del dropdown cuando está pulsado */
header .dropdown-item:active {
    background-color: $blanco-100;
    color: $negro-50;
}

main .dropdown-toggle:active,
main .dropdown-toggle:focus {
    background-color: $aquamarine-400;
    border-color: $aquamarine-400;
}

main .custom-dropdown-menu .dropdown-item:hover {
    background-color: $aquamarine-600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: $blanco-100;
}

main .custom-dropdown-menu .dropdown-item:active {
    background-color: $aquamarine-400;
}

//Media Querys
@media (width > 990px) {
    // Hace que el dropdown del header en el que esta la info del usuario quede bien en cualquier tamaño de pantalla
    header .desplegable-usuario {
        position: relative;
        right: 200px;
        top: 25px;
    }
}

@media(width <= 990px) {
    // Mete el padding correspondiente en el menú desplegable del header
    .info-desplazada {
        padding: 0.5rem 1.5rem;
    }

    // Es usada para hacer desaparecer campos en las tablas de usuarios e incidencias
    .baja-res {
        display: none;
    }

    // Hace que los row y las col dentro de las .card tengan el mismo espaciado
    .card .row {
        display: flex;
        gap: 1.5rem;
    }
}

@media(width < 768px) {
    .movil-res{
        display: none;
    }
}

// Clases para el login
// Efecto cristal traslúcido
.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.8) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

// Fondo con degradado usado el login y las paginas de error 403 y 404
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    // Crear dos gradiantes circulares
    background-image:
        radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
    overflow: hidden;
    min-height: 100vh;
}

// Circulos usado en las animaciones del login y las paginas de error 403 y 404
#radius-shape-1 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient($aquamarine-400, $blanco-50);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 48% 52% 63% 40% / 70% 33% 77% 30%;
    bottom: -60px;
    right: -110px;
    width: 280px;
    height: 300px;
    background: radial-gradient($morado-50, $aquamarine-300);
    overflow: hidden;
}

#radius-shape-3 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    height: 250px;
    width: 250px;
    top: 250px;
    left: -50px;
    background: radial-gradient($aquamarine-400, $blanco-50);
    overflow: hidden;
}

#radius-shape-4 {
    border-radius: 48% 52% 63% 40% / 70% 33% 77% 30%;
    bottom: -300px;
    right: -155px;
    width: 280px;
    height: 280px;
    background: radial-gradient($morado-50, $aquamarine-300);
    overflow: hidden;
}

// Animación de giro se usa en el login y las paginas de error 403 y 404
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// Duración de las animaciones de los circulos
#radius-shape-1.animate {
    animation: rotateAnimation 15s infinite;
}

#radius-shape-2.animate {
    animation: rotateAnimation 25s infinite;
}

#radius-shape-3.animate {
    animation: rotateAnimation 15s infinite;
}

#radius-shape-4.animate {
    animation: rotateAnimation 25s infinite;
}

// Pantalla de error 404
.volver {
    color:#fff;
}

.volver:hover {
    color: $aquamarine-300;
    cursor: pointer;
}

// Botones descarga desplegable informes
.button {
    --width: 40px;
    --height: 35px;
    --tooltip-height: 25px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: $aquamarine-400;
    --tooltip-color: $blanco-50;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.5em;
    font-family: "Arial";
    transition: background 0.7s;
}

.button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: $aquamarine-600;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $aquamarine-600;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: $blanco-50;
}

.text {
    top: 0;
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    color: $blanco-50;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    width: 24px;
    height: 24px;
}

.button:hover {
    background-color: $aquamarine-600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    visibility: visible;
}

.button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.fichero-comentario {
    display: none;
}

.custom-file-input {
    cursor: pointer;
}

// Chat
.scroller {
    scrollbar-width: thin;
}

.chat {
    width: 100%;
}

// Títulos login y pantallas de error 403 y 404
.titulo {
    color: $blanco-50;
}

.titulo span {
    color: $aquamarine-300;
}
