// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Iconos
@import 'bootstrap-icons/font/bootstrap-icons.css';

html{
    scrollbar-width: thin;
}

.aquamarine-50{
    background-color: $aquamarine-50;
}

.aquamarine-100{
    background-color: $aquamarine-100;
}

.aquamarine-200{
    background-color: $aquamarine-200;
}

.aquamarine-300{
    background-color: $aquamarine-300;
}

.aquamarine-400{
    background-color: $aquamarine-400;
}

.aquamarine-500{
    background-color: $aquamarine-500;
}

.aquamarine-600
{
    background-color: $aquamarine-600;
}

.aquamarine-700{
    background-color: $aquamarine-700;
}

.aquamarine-950
{
    background-color: $aquamarine-950;
}

footer
{
    color: white;
    height: 100px;
    gap: 10px;
}

footer>div
{
    width: 500px;
}

footer a
{
    text-decoration:none;
    color: white;
}

footer>div:first-child
{
    gap:30px;
}

.lista-incidencias:nth-child(odd){
    background-color: $aquamarine-50;
}

.lista-incidencias:nth-child(even){
    background-color: $aquamarine-200;
}

.lista-incidencias:nth-child(odd):hover{
    background-color: $aquamarine-100;
}

.lista-incidencias:nth-child(even):hover{
    background-color: $aquamarine-100;
}

a {
    text-decoration: none;
    color: inherit;
}

.filtros {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px ;
    outline: 1px;
    padding: 2px;
}

.filtros::placeholder {
    color: black;
}

.filtros:hover{
    outline: 1px solid black;
}

.overflow-auto{
    max-height: 500px;
}

.table-rounded {
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
    overflow: hidden; /* Asegura que los bordes redondeados sean visibles */
}

.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
