html {
    --aquamarine-50: #e9fff7;
    --aquamarine-100: #c9ffea;
    --aquamarine-200: #98ffdb;
    --aquamarine-300: #4dffc9;
    --aquamarine-400: #14f3b7;
    --aquamarine-500: #00dba0;
    --aquamarine-600: #00b385;
    --aquamarine-700: #008f6e;
    --aquamarine-800: #007159;
    --aquamarine-900: #005c4b;
    --aquamarine-950: #00342b;
}
